.opening{
    display: flex;
    justify-content: space-around;
}
.nav{
display: flex;
padding: 1em;
}
.nav li{
    padding-left: 1em;
    font-size: 1.2em;
    list-style-type: none;
}
.paragraph{
    display: flex;
    justify-content: space-between;
}

